# Importing libraries

In [1]:
import tensorflow as tf

# Creating a simple tensorflow dataset

In [2]:
daily_sales_numbers=[22,31,-90,33,37,-78,108,31]

# Building a tf dataset from a python list

In [3]:
tf_dataset=tf.data.Dataset.from_tensor_slices(daily_sales_numbers)

In [4]:
tf_dataset

# To print the contents in dataset

In [5]:
for sales in tf_dataset:
    print(sales)

tf.Tensor(22, shape=(), dtype=int32)
tf.Tensor(31, shape=(), dtype=int32)
tf.Tensor(-90, shape=(), dtype=int32)
tf.Tensor(33, shape=(), dtype=int32)
tf.Tensor(37, shape=(), dtype=int32)
tf.Tensor(-78, shape=(), dtype=int32)
tf.Tensor(108, shape=(), dtype=int32)
tf.Tensor(31, shape=(), dtype=int32)

In [6]:
#Each element is a tensor

# Converting tensor to numpy

In [8]:
for sales in tf_dataset:
    print(sales.numpy())

22
31
-90
33
37
-78
108
31

In [9]:
#another method for converting tensor to a numpy

In [10]:
for sales in tf_dataset.as_numpy_iterator():
    print(sales)

22
31
-90
33
37
-78
108
31

In [11]:
#for taking first 3 elements

In [12]:
for sales in tf_dataset.take(3):
    print(sales.numpy())

22
31
-90

# Filtering the dataset

In [13]:
tf_dataset=tf_dataset.filter(lambda x:x>0)

In [14]:
for sales in tf_dataset:
    print(sales.numpy())

22
31
33
37
108
31

In [15]:
#negatives are gone using filter function

In [16]:
#These numbers are in us dollars
#convert these numbers to indian currency
#1 dollar=72 rupees

# Transforming elements using map function

In [17]:
tf_dataset=tf_dataset.map(lambda x:x*72)

In [18]:
for sales in tf_dataset:
    print(sales.numpy())

1584
2232
2376
2664
7776
2232

# Shuffle the elements

In [21]:
tf_dataset=tf_dataset.shuffle(2)

In [22]:
for sales in tf_dataset:
    print(sales.numpy())

2232
1584
2376
2664
7776
2232

# Creating batches

In [23]:
tf_dataset=tf_dataset.batch(3)

In [24]:
for sales in tf_dataset:
    print(sales.numpy())

[1584 2376 2232]
[2664 2232 7776]

# Writing these codes in one single line

In [29]:
tf_dataset=tf.data.Dataset.from_tensor_slices(daily_sales_numbers)
tf_dataset=tf_dataset.filter(lambda x:x>0).map(lambda y:y*72).shuffle(2).batch(2)

In [30]:
for sales in tf_dataset:
    print(sales.numpy())

[2232 1584]
[2664 7776]
[2376 2232]